---
import { type CollectionEntry, getCollection, render } from "astro:content";
import RootLayout from "@layouts/RootLayout.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");

  return blogEntries.map((post: CollectionEntry<"blog">) => ({
    params: {
      id: post.id,
    },
  }));
}

const { id } = Astro.params;
const post = (await getCollection("blog")).find(
  (entry: CollectionEntry<"blog">) => entry.id === id,
);

if (!post) {
  throw new Error(`Blog post not found for id: ${id}`);
}

const { Content } = await render(post);
---

<RootLayout title={id}>
  <div
    class="prose mx-auto max-w-[650px] px-2 pb-10 pt-5 dark:prose-invert sm:px-0"
  >
    <h1>{post.data.title}</h1>

    <p>published: {post.data.pubDate.toLocaleDateString()}</p>
    <p>reading time: around {post.data.readingTime} minutes</p>

    <hr>

    <div class="break-words"><Content /></div>
  </div>
</RootLayout>
